@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}

.ql-editor{
    font-size: 1.05rem;
    /* color: white;     */
}

.post-content p{
  margin-bottom: 0rem;
}

.post-content h1{
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  /* margin: 1rem 0; */
}

.post-content h2{
  font-size: 1.4rem;
  font-family: sans-serif;
  margin: .5rem 0;
}

.post-content a{
  color: rgb(73, 149, 199);
  text-decoration: none;
}

.dark .post-content a{
  color: rgb(143, 204, 245);
}

.post-content a:hover{
  text-decoration: underline;
}
